{% include "header.njk" %}
{% block content %}
    <div class="loading"><img src="/assets/gear-spinner.svg" width="150px">LOADING</div>
    <div class="objectZoom">
        <img id="chatSymbol" src="https://www.svgrepo.com/show/501494/chat.svg">
    </div>
    <div class="conversation">
        <div class="speech">
            <img src="/assets/cat.gif" class="profileImg">
            <p class="bubble" id="catTalk">What is your wish?</p>
        </div>
        <div class="userContainer">
            <div class="history" id="allMessages"></div>
            <form class="speech" id="userSpeechForm">
                <img src="/assets/duckProfile.png" class="profileImg">
                <div class="userSpeechWrapper">
                    <div class="usernameContainer">
                        <p>What adjective best describes you? I am a:</p>
                        <input type="text" id="username" value="Boring" style="text-align: center;">
                        <p>Duck!</p>
                    </div>
                    <div class="submitWish">
                        <div class="userWishInput">
                        <input type="text" class="bubble" id="userWish" placeholder="I wish for..." autocomplete="off"> </input>
                    </div>
                    <input type="submit" value="Make your wish" id="wishButton">
                </div>
            </div>
        </form>
    </div>
    <div class="about">
        <img src="https://www.svgrepo.com/show/146775/question-mark-in-a-circle.svg">
    </div>
{% endblock %}