<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/gsap.min.js"></script>
    </head>
    <body class="container"> {% block content %}{% endblock %}
        <script type="importmap">
            { "imports": { "three": "https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.module.js", "three/examples/jsm/":
            "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/" } }
        </script>
        <script type="module" src="/scripts/main.js"></script>
    </body>
</html>