body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1514958566123-9ec36678c8c6?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  font-family: "Anta";
}
canvas {
  display: block;
}

.objectZoom img{
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  width: 50px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(278deg) brightness(102%) contrast(102%);
  z-index: 100;
  transition: .3s ease;
}
.objectZoom img:hover{
  scale: 110%;
  cursor: pointer;
}

.conversation{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}

.speech{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px;
  user-select: none;
}

.profileImg{
  width: 200px;
  border-radius: 100px;
}

#catTalk{
  font-family: "Megrim";
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.bubble{
  background: rgba(255, 255, 255, 0.863);
  border: solid 5px white;
  border-radius: 20px;
  height: 10vh;
  width: 80vw;
  text-align: start;
  align-content: center;
  padding: 2%;
}

input{
  font-family: "Anta";
  font-size: 1.2rem;
}

.userContainer{
  display: flex;
  flex-direction: column;
}
#userSpeechForm{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}
.userSpeechWrapper, .userWishInput{
  width: 100%;
}
.usernameContainer{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.863);
  border: solid 5px white;
  display: flex;
  gap: 20px;
  padding: 0% 2%;
}
#userWish{
  width: 95%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  text-align: end;
  text-wrap: wrap;
}
#wishButton{
  display: flex;
  justify-self: end;
  margin-top: 20px;
  cursor: pointer;
}

.userContainer:hover .history{
  background-color: rgba(255, 255, 255, 0.562);
}

.history{
  margin: 20px;
  margin-bottom: 0px;
  padding: .5% 2%;
  width: 50vw;
  height: 15vh;
  overflow-y: auto;
  transition: ease .3s;
}
.history:hover{
  background-color: rgba(255, 255, 255, 0.562);
  height: 20vh;
}
.history::-webkit-scrollbar {
    display: none;
  }

.about img{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  margin: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(278deg) brightness(102%) contrast(102%);
  transition: ease .3s;
}

.about img:hover{
  scale: 110%;
  cursor: pointer;
}

.about-text{
  height: 290px;
  width: 500px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(255, 255, 255, 0.863);
  filter: drop-shadow(#000 20px 10px 4px);
  border-radius: 10px;
  padding: 20px;
}

.blurred-Overlay{
  position:absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

#about-line-1, #about-line-2, #about-line-3, #about-line-4{
  margin-bottom: 20px;
}

#about-line-1{
  font-weight: bold;
}

#about-button{
  border-radius: 10px;
  width: 95px;
}


.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  cursor: wait;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 2rem;
}